<%= link_to 'Back', videos_path %>

<p id="notice"><%= notice %></p>

<%= image_tag(@video.thumbnails.first.url) %>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>User:</b>
  <%= @video.author.name %>
</p>

<p>
  <b>Published:</b>
  <%= @video.published_at %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
	<%= raw @video.embed_html5({:class => 'video-player', :id => 'my-video', :width => '425', :height => '350', :frameborder => '1'}) %>
</p>

